*{
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
}


body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  text-align: left;
  background-color: #ffffff;
}
 
a {
  color: #0BCEAF;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #078571;
  text-decoration: underline;
}
 
h1,h2,h3,h4,h5,h6,p{
  color: #020202 !important;
} 

 

/* ================ Tamplate CSS ====================*/

.text-stroke-header {
  -webkit-text-stroke: 3px #ffffff;
  color: transparent;
}

.btn {
  padding: 10px 25px;
  border-radius: 100px;
}

.btn-social {
  width: 45px;
  height: 45px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-radius: 45px;
}

.form-control {
  border-radius: 25px;
}


/* ================ Navigation Menu ====================*/


.navbar-light .navbar-nav .nav-link {
  padding: 25px 10px;
  color: #343a40;
  font-weight: 500;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #0BCEAF;
}

/*===================== Hero section ======================*/

.display-1{
  font-size: 100px;
  font-weight: bold;
  
}
.text{
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  color: #1c5ce6 !important;
}
.typed-text{
  color: #ffffff;
  font-size: 1.5rem;
}
.position-absolute{
  font-weight: 700;
}

.typed-cursor {
  font-size: 45px;
  color: #ffffff;
}

.blue{
  background-color: #1c5ce6;
  color: #ffffff;
}
.btn{
  border: 2px solid rgb(29, 105, 247);
} 

.btn-white{
  background-color: #ffffff;
  border:2px solid #ffffff;
}
.btn-blue{
  border: 2.4px solid #ffffff;
  color: #ffffff;
}

/*===================== Progress Bar ====================*/

.progress {
  border-radius: 10px;
}

.progress .progress-bar {
  width: 0px;
  border-radius: 10px;
  transition: 2s;
}


/* =================== Service Section ==================*/
.service-h4{
  padding-bottom: 30px;
}

.service-icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
}

.service-box{
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);  
  margin-left: 20px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
.service-box:hover{
  box-shadow: 0px 1px 13px rgba(27, 27, 27, 0.705); 
 
}
/* =================== Portfolio section ==================*/


.portfolio-item .portfolio-btn {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  opacity: 0;
  transition: .5s;
}

.portfolio-item:hover .portfolio-btn {
  opacity: 1;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  top: 30px;
  left: 30px;
}


/* ========================== Contact Us ========================*/

.contact-form .help-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* ========================== Footer Section ========================*/

.footer:hover{
  background-color: #1c5ce6;
  color: #ffffff;
}